@import "tailwindcss";

@theme {
  /* 品牌色系 */
  --color-brand-primary: #1d2088;
  --color-brand-DEFAULT: #1d2088;

  /* 中性色系 */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f2f2f2;
  --color-neutral-200: #afb3b2;
  --color-neutral-300: #57524c;
  --color-neutral-900: #000000;

   --text-xl: 24px;
}

:root {
  font-size: var(--text-xl);
  color-scheme: light;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f2f2f2;
  color: #000000;
}

main {
  min-height: 100vh;
}

/* 跑馬燈動畫 */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-paused {
  animation: marquee 30s linear infinite;
  animation-play-state: paused;
}
